CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.vs/CMake Overview

*.vsidx
*.log
*.ipch
*.lock
*.wsuo
*.db
*.obj
*.ibd
*.pdb
*.ilk
*.exe






/.vs/HotKey/v17/Browse.VC.db-shm
/.vs/HotKey/v17/Browse.VC.db-wal
/.vs/HotKey/v17/Browse.VC.opendb
/.vs/slnx.sqlite
