CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.vs/CMake Overview
/.vs/HotKey/FileContentIndex/77491cc1-3ebe-4837-8816-b7b1f4af01ca.vsidx
/.vs/HotKey/FileContentIndex/c3d9faff-6661-4d75-83d3-2dc7dece8021.vsidx
/.vs/HotKey/FileContentIndex/d999fe07-ab96-47bd-a1b0-0aaa5694da46.vsidx
/.vs/HotKey/FileContentIndex/read.lock
/.vs/HotKey/v17/.wsuo
/.vs/HotKey/v17/Browse.VC.db
/.vs/HotKey/v17/Browse.VC.db-shm
/.vs/HotKey/v17/Browse.VC.db-wal
/.vs/HotKey/v17/Browse.VC.opendb
/.vs/HotKey/v17/ipch/AutoPCH/6db56e1183b80bb4/HOTKEY.ipch
/.vs/HotKey/v17/ipch/AutoPCH/e6a6d31670121b6a/HOTKEY.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-4ff339589da7aad19378.json
/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-3b7655b241a35d8573d5.json
/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-2be99549f2aebb896aec.json
/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/out/build/x64-debug/.cmake/api/v1/reply/directory-HotKey-Debug-83ca769836f68196f0a2.json
/out/build/x64-debug/.cmake/api/v1/reply/index-2023-05-17T12-04-45-0881.json
/out/build/x64-debug/.cmake/api/v1/reply/target-HotKey-Debug-df47e8847473414bdc64.json
/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-972c02320470f57b00f8.json
/out/build/x64-debug/Testing/Temporary/LastTest.log
/.vs/HotKey/FileContentIndex/ebb261bb-e410-4ece-a81d-e38afff2fd6a.vsidx
/.vs/HotKey/FileContentIndex/b9c1119a-1642-4194-901f-5516eeb8ce2b.vsidx
/.vs/HotKey/v17/ipch/AutoPCH/9be4d10a4a456bbd/HOTKEY.ipch
/.vs/HotKey/FileContentIndex/9145ee1d-4aca-49af-8795-2f8e080cad4d.vsidx
/.vs/HotKey/FileContentIndex/a5804f68-edb9-40e2-bc00-ccd35120fa7b.vsidx
/.vs/HotKey/FileContentIndex/6f8eaea2-4141-4f66-b9a0-aa184b157595.vsidx
/.vs/HotKey/v17/ipch/AutoPCH/61489ad5895fc9aa/BUTTON.ipch
/.vs/HotKey/v17/ipch/AutoPCH/63e970c2566d9177/BUTTON.ipch
/.vs/HotKey/v17/ipch/AutoPCH/ec9d712ef67ac29c/SHORTCUT.ipch
/.vs/HotKey/v17/ipch/AutoPCH/f2f4d30a0ede8715/SHORTCUT.ipch
/out/build/x64-debug/.ninja_deps
/out/build/x64-debug/.ninja_log
/out/build/x64-debug/HotKey/HotKey.exe
/out/build/x64-debug/HotKey/HotKey.ilk
/out/build/x64-debug/HotKey/HotKey.pdb
/.vs/HotKey/FileContentIndex/198fe8d1-eda1-4e52-a2fa-a903d14c2df1.vsidx
*.vsidx
